*{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gameImage{
    width: 100px;
    height: 150px;
    display: block;
    margin-top: 10px;
}

.gameImage:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}